*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.inner-page {
    line-height: 21px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-navigation {
    position: relative;
    line-height: 26px;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1000;
    width: 138px;
    margin: 0;
    margin-left: -69px;
    line-height: 0;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation li {
    min-width: 239px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.site-navigation li:nth-of-type(1),
.site-navigation li:nth-of-type(2) {
    padding-left: 73px;
    text-align: left;
}

.site-navigation li:nth-of-type(3),
.site-navigation li:nth-of-type(4) {
    padding-right: 73px;
    text-align: right;
}

.site-navigation li:nth-of-type(3) {
    margin-left: 244px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.preview {
    display: flex;
    flex-direction: column-reverse;
    min-height: 773px;
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.preview p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 400;
}


/*Преимущества*/

.features-list,
.additional-features-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.additional-features-list {
    width: 1200px;
    min-height: 330px;
    margin-top: -5px;
    background-color: #ffffff;
}

.features-list {
    background-color: #eeeeee;
}

.features-list>li:nth-of-type(1) {
    order: -2;
}

.features-list>li:nth-of-type(6) {
    order: -1;
}

.features-list>.feature-item:nth-of-type(1),
.features-list>.feature-item:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    width: 1200px;
}

.feature-item-wrapper {
    align-self: flex-start;
    width: 400px;
    min-height: 256px;
    color: #ffffff;
    background-color: #81b3d2;
}

.feature-item-image {
    width: 800px;
}

.features-list>li:nth-of-type(2) .feature-item-image {
    order: -1;
}

.feature-item:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(6)),
.additional-feature-item {
    width: 400px;
}

.feature-item:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(6)) {
    min-height: 256px;
}

.feature-item {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 21px;
    font-weight: 400;
}

.feature-item h3 {
    margin: 0;
    margin-top: 45px;
    margin-bottom: 25px;
    padding: 0;
    font-size: 21px;
}

.feature-item-number {
    position: relative;
    display: inline-block;
    width: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.feature-item-number::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 10px;
    border: 1px solid #c2d9e8;
}

.feature-item-number::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 10px;
    border: 1px solid #c2d9e8;
}

.feature-item p {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.additional-feature-item {
    display: flex;
    flex-direction: column;
}

.additional-feature-item h3 {
    margin-top: auto;
}

.additional-feature-item p {
    margin-bottom: 85px;
}

.additional-feature-item:first-of-type {
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 50% 60px;
}

.additional-feature-item:nth-of-type(2) {
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 50% 60px;
}

.additional-feature-item:last-of-type {
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 50% 60px;
}

.appointment {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 290px;
    padding-top: 55px;
    font-weight: 400;
}

.appointment h2 {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
}

.appointment-info {
    width: 575px;
    padding: 0 72px 50px;
    text-align: center;
}

.map {
    width: 1200px;
}

.btn {
    font: inherit;
    font-weight: 700;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.open-modal-popup {
    width: 568px;
    margin: 0;
    padding: 32px 139px 30px;
    font-size: 21px;
    line-height: 26px;
    background-color: #766357;
}

.open-modal-popup:hover,
.open-modal-popup:focus {
    background-color: #604e43;
}

.open-modal-popup:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.modal-button {
    width: 458px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 21px;
    line-height: 26px;
    background-color: #81b3d2;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #669ec0;
}

.modal-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.modal-appointment input {
    font: inherit;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.modal-appointment input:hover,
.modal-appointment input:focus {
    outline: none;
    background-color: #ebebeb;
}

.modal-appointment input:active {
    outline: none;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.main-footer {
    display: flex;
}

.footer-heshtag,
.footer-social,
.footer-copyright {
    width: 400px;
    text-align: center;
}

.main-footer a {
    color: #000000;
}

.footer-heshtag a {
    font-size: 21px;
    line-height: 26px;
}

.footer-heshtag a:hover,
.footer-heshtag a:focus {
    color: #81b3d2;
}

.footer-heshtag a:active {
    color: rgba(0, 0, 0, 0.3);
}

.footer-social ul {
    list-style: none;
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.footer-copyright-image {
    width: 115px;
}


/*Inner Page*/

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus {
    color: #766357;
}

.filters {
    background-color: #3f4c52;
}

.filter {
    color: #ffffff;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 16px;
}

.filter ul {
    list-style: none;
}

.filter-button {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
    outline: none;
    background-color: #ffffff;
    color: #000000;
}

.sort {
    font-size: 12px;
    line-height: 18px;
}

.seach-results {
    font-size: 21px;
    line-height: 26px;
}

.sort ul {
    list-style: none;
}

.sort-list-type-1 a,
.sort-list-type-2 a {
    color: rgba(0, 0, 0, 0.3);
}

.sort-list-type-1-current a,
.sort-list-type-2-current a {
    color: #81b3d2;
}

.sort-list-type-1 a:hover,
.sort-list-type-1 a:focus {
    color: #81b3d2;
}

.sort-list-type-1 a:active,
.sort-list-type-1 a:active {
    color: #000000;
}

.sort-list-type-2 a:hover,
.sort-list-type-2 a:focus {
    color: #000000;
}

.sort-list-type-2 a:active,
.sort-list-type-2 a:active {
    color: #81b3d2;
}

.catalog-item-info h3 {
    font-size: 21px;
    line-height: 26px;
}

.catalog-item-info a {
    color: #000000;
    text-decoration: none;
}

.catalog-item-info a:hover,
.catalog-item-info a:focus {
    color: #81b3d2;
}

.catalog-item-info a:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog ul {
    list-style: none;
}

.catalog-item-info .catalog-category,
.catalog-item-info .catalog-item-price {
    font-weight: 400;
}

.catalog-item-image {
    width: 135px;
    line-height: 0;
}

.catalog-item-box-buttons .more-details {
    color: #ffffff;
    background-color: #81b3d2;
}

.more-details:hover,
.more-details:focus {
    background-color: #669ec0;
}

.more-details:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
}

.catalog-item-box-buttons .armor {
    color: #ffffff;
    background-color: #766357;
}

.armor:hover,
.armor:focus {
    background-color: #604e43;
}

.armor:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3)
}

.catalog-item-rating {
    font-weight: 400;
    color: #666666;
    background-color: #f2f2f2;
}