*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.inner-page {
    line-height: 21px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 30px 10px #dbdbdb;
}

.main-header {
    background-color: #ffffff;
}

.main-navigation {
    position: relative;
    line-height: 26px;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1000;
    width: 138px;
    margin: 0;
    margin-left: -69px;
    line-height: 0;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation li {
    min-width: 239px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.site-navigation li:nth-of-type(1),
.site-navigation li:nth-of-type(2) {
    padding-left: 73px;
    text-align: left;
}

.site-navigation li:nth-of-type(3),
.site-navigation li:nth-of-type(4) {
    padding-right: 73px;
    text-align: right;
}

.site-navigation li:nth-of-type(3) {
    margin-left: 244px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.preview {
    display: flex;
    flex-direction: column;
    min-height: 725px;
    margin: 0;
    padding: 0;
    padding-top: 550px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    background-color: #ffffff;
    background-image: url("../img/preview-background.jpg");
    background-position: 0 -55px;
    background-repeat: no-repeat;
}

.preview p:first-of-type {
    margin: 0;
    margin-top: auto;
    margin-bottom: 30px;
}

.preview p:nth-of-type(2) {
    margin: 0;
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 400;
}


/*Преимущества*/

.features-list,
.additional-features-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.additional-features-list {
    width: 1200px;
    min-height: 330px;
    margin-top: -5px;
    background-color: #ffffff;
}

.features-list {
    background-color: #eeeeee;
}

.features-list>li:nth-of-type(1) {
    order: -2;
}

.features-list>li:nth-of-type(6) {
    order: -1;
}

.features-list>.feature-item:nth-of-type(1),
.features-list>.feature-item:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    width: 1200px;
}

.feature-item-wrapper {
    align-self: flex-start;
    width: 400px;
    min-height: 256px;
    color: #ffffff;
    background-color: #81b3d2;
}

.feature-item-image {
    width: 800px;
}

.features-list>li:nth-of-type(2) .feature-item-image {
    order: -1;
}

.feature-item:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(6)),
.additional-feature-item {
    width: 400px;
}

.feature-item:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(6)) {
    min-height: 256px;
}

.feature-item {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 21px;
    font-weight: 400;
}

.feature-item h3 {
    margin: 0;
    margin-top: 45px;
    margin-bottom: 25px;
    padding: 0;
    font-size: 21px;
}

.feature-item-number {
    position: relative;
    display: inline-block;
    width: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.feature-item-number::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 10px;
    border: 1px solid #c2d9e8;
}

.feature-item-number::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 10px;
    border: 1px solid #c2d9e8;
}

.feature-item p {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.additional-feature-item {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

.additional-feature-item h3 {
    margin-top: auto;
}

.additional-feature-item p {
    margin-bottom: 85px;
}

.additional-feature-item:first-of-type {
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 50% 60px;
}

.additional-feature-item:nth-of-type(2) {
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 50% 60px;
}

.additional-feature-item:last-of-type {
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 50% 60px;
}

.appointment {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    font-weight: 400;
    background-color: #ffffff;
}

.appointment h2 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
}

.appointment-info {
    margin: 0;
    width: 575px;
    padding: 0 72px 50px;
    text-align: center;
}

.btn {
    font: inherit;
    font-weight: 700;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.open-modal-popup {
    width: 568px;
    margin: 0;
    padding: 32px 139px 30px;
    font-size: 21px;
    line-height: 26px;
    background-color: #766357;
}

.open-modal-popup:hover,
.open-modal-popup:focus {
    background-color: #604e43;
}

.open-modal-popup:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.map {
    width: 1200px;
}


/*форма на главной*/

.appointment-form {
    /* display: none; */
    position: absolute;
    left: 50%;
    bottom: -141%;
    width: 568px;
    min-height: 395px;
    margin: 0;
    margin-left: -284px;
    padding: 55px;
    line-height: 26px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px -5px #3f4c52;
}

.appoitment-item {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.appoitment-item:first-of-type label {
    margin: 0;
    padding: 0;
    margin-right: 18px;
}

.appoitment-item:nth-of-type(2) label {
    margin: 0;
    padding: 0;
    margin-right: 14px;
}

.appoitment-item input {
    margin: 0;
    padding: 0;
    font: inherit;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.appoitment-item:first-of-type input,
.appoitment-item:nth-of-type(2) input {
    position: relative;
    width: 345px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 45px;
}

.appoitment-item {
    position: relative;
}

.btn-calendar {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -12px;
    border: none;
    background-color: transparent;
    fill: #cacaca;
}

.btn-calendar:hover path,
.btn-calendar:focus path,
.btn-calendar:hover rect,
.btn-calendar:focus rect {
    fill: black;
}

.btn-calendar:active path,
.btn-calendar:active rect {
    fill: #81b3d2;
}

.appoitment-item:nth-of-type(3) {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 55px;
}

.appoitment-item:nth-of-type(4) {
    display: inline-block;
    margin-bottom: 55px;
}

.appoitment-item:nth-of-type(3) label {
    margin: 0;
    margin-right: 32px;
    padding: 0;
}

.appoitment-item:nth-of-type(4) label {
    margin: 0;
    margin-right: 25px;
    padding: 0;
}

.appoitment-item:nth-of-type(3) input,
.appoitment-item:nth-of-type(4) input {
    width: 120px;
    margin: 0;
    padding: 5px 40px;
    text-align: center;
}

.appoitment-item input:hover,
.appoitment-item input:focus {
    outline: none;
    background-color: #ebebeb;
}

.appoitment-item input:active {
    outline: none;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.appoitment-btn {
    width: 40px;
    height: 35px;
    border: none;
    background-color: transparent;
    font: inherit;
    font-size: 18px;
    line-height: 10px;
    color: #a9a9a9;
}

.btn-minus {
    position: absolute;
    right: 80px;
    top: 0;
}

.btn-plus {
    position: absolute;
    right: 0px;
    top: 0;
    height: 37px;
}

.btn-minus:hover,
.btn-minus:focus,
.btn-plus:hover,
.btn-plus:focus {
    outline: none;
    color: #000000;
}

.btn-minus:active,
.btn-plus:active {
    outline: none;
    color: #81b3d2;
}

.modal-button {
    width: 458px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 21px;
    line-height: 26px;
    background-color: #81b3d2;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #669ec0;
}

.modal-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}


/*footer*/

.main-footer {
    display: flex;
    height: 120px;
    align-items: center;
    background-color: #ffffff;
}

.footer-heshtag,
.footer-social,
.footer-copyright {
    width: 400px;
    text-align: center;
}

.footer-heshtag a {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}

.footer-heshtag a:hover,
.footer-heshtag a:focus {
    color: #81b3d2;
}

.footer-heshtag a:active {
    color: rgba(0, 0, 0, 0.3);
}

.footer-social {
    padding: 0;
    padding-left: 124px;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 152px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social li {
    margin: 0;
    padding: 0;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    opacity: 0.3;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.footer-copyright span {
    margin-right: 10px;
}

.html-logo {
    line-height: 15px;
}

.html-logo path,
.html-logo rect {
    fill: #000000;
}

.html-logo:hover path,
.html-logo:focus path,
.html-logo:hover rect,
.html-logo:focus rect {
    fill: #81b3d2;
}

.html-logo:active path,
.html-logo:active rect {
    fill: #bdbbbc;
}


/*Inner Page*/

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus {
    color: #766357;
}

.filters {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #3f4c52;
}

.filter {
    display: flex;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
    border: 1px solid black;
}

.filter legend {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid blue;
}

.filter .filter-infrastructure,
.filter .filter-type-housing {
    width: 310px;
}

.filter .filter-infrastructure {
    padding-left: 73px;
}

.filter .filter-type-housing {
    padding-left: 10px;
}

.filter-infrastructure legend,
.filter-type-housing legend {
    border: 1px solid blue;
    margin-bottom: 25px;
}

.filter-infrastructure li:not(:last-of-type),
.filter-type-housing li:not(:last-of-type) {
    margin-bottom: 25px;
    padding-left: 40px;
}

.filter-infrastructure li,
.filter-type-housing li {
    padding-left: 40px;
}

.filter-button {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
    outline: none;
    background-color: #ffffff;
    color: #000000;
}

.sort {
    font-size: 12px;
    line-height: 18px;
}

.seach-results {
    font-size: 21px;
    line-height: 26px;
}

.sort ul {
    list-style: none;
}

.sort-list-type-1 a,
.sort-list-type-2 a {
    color: rgba(0, 0, 0, 0.3);
}

.sort-list-type-1-current a,
.sort-list-type-2-current a {
    color: #81b3d2;
}

.sort-list-type-1 a:hover,
.sort-list-type-1 a:focus {
    color: #81b3d2;
}

.sort-list-type-1 a:active,
.sort-list-type-1 a:active {
    color: #000000;
}

.sort-list-type-2 a:hover,
.sort-list-type-2 a:focus {
    color: #000000;
}

.sort-list-type-2 a:active,
.sort-list-type-2 a:active {
    color: #81b3d2;
}

.catalog-item-info h3 {
    font-size: 21px;
    line-height: 26px;
}

.catalog-item-info a {
    color: #000000;
    text-decoration: none;
}

.catalog-item-info a:hover,
.catalog-item-info a:focus {
    color: #81b3d2;
}

.catalog-item-info a:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog ul {
    list-style: none;
}

.catalog-item-info .catalog-category,
.catalog-item-info .catalog-item-price {
    font-weight: 400;
}

.catalog-item-image {
    width: 135px;
    line-height: 0;
}

.catalog-item-box-buttons .more-details {
    color: #ffffff;
    background-color: #81b3d2;
}

.more-details:hover,
.more-details:focus {
    background-color: #669ec0;
}

.more-details:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
}

.catalog-item-box-buttons .armor {
    color: #ffffff;
    background-color: #766357;
}

.armor:hover,
.armor:focus {
    background-color: #604e43;
}

.armor:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3)
}

.catalog-item-rating {
    font-weight: 400;
    color: #666666;
    background-color: #f2f2f2;
}

;